# This is the standard conda configuration file. Use this file to list
# the conda packages that you need installed in your environment.
name: spyglass
channels:
  - conda-forge
  - defaults
  - pytorch   # dlc-only
  - franklab
  - edeno
dependencies:
# Jupyterhub dependencies
  - jupyterlab>=3.*,<4 # leave at v3 to support jupyterlab-git
  - jupyter_contrib_nbextensions==0.5.1
  - jupyterlab-git
  - nbgitpuller=1.1.*
# Spyglass dependencies
  - bottleneck
  # - cudatoolkit=11.3 # dlc-only
  # - ffmpeg # dlc-only
  - ipympl
  - jupyterlab>=3.*
  # - libgcc # dlc-only
  - matplotlib
  - non_local_detector
  - numpy<1.24
  - pip
  - position_tools
  - pybind11  # req by mountainsort4 -> isosplit5
  - pydotplus
  - pyfftw<=0.12.0  # ghostipy req. install from conda-forge for Mac ARM
  - python>=3.9,<3.10
  - pytorch<1.12.0
  - ripple_detection
  - seaborn
  # - torchaudio # dlc-only
  # - torchvision # dlc-only
  - track_linearization>=2.3
  - pip:
      - "black[jupyter]"
      - datajoint>=0.13.6
      # - deeplabcut<2.3.0 # dlc-only
      - ghostipy # for common_filter
      - ndx-franklab-novela>=0.1.0
      - mountainsort4
      - panel<=1.3.5 # See panel #6325
      - pubnub<=6.4.0
      - pynwb>=2.2.0,<3
      - sortingview>=0.11
      - spikeinterface>=0.98.2,<0.99
      - spyglass-neuro>=0.5.*
